#id_signup_block { font-weight:bold;}

#id_signin_block { height:80px; width:300px; background:#fff; margin:0px 0 0 680px;}

#id_wrapper { width: 980px;	margin:auto;}

#id_body_header { height:150px;}


.login-input, #login-submit, .signup-input, #id-signup-block { -webkit-border-radius:5px; border-radius:5px; -moz-border-radius:5px; -khtml-border-radius:5px;}
#id_signin_block { -webkit-border-radius:0 0 0 5px; border-radius:0 0 0 5px; -moz-border-radius:0 0 0 5px; -khtml-border-radius:0 0 0 5px;}

#id_signin_block form table { margin:30px 0 0 10px; position:absolute; }

.login-input { width:100px;	height:20px; border:1px solid #1E90FF; color:#717C86;}

#login-submit { width:60px; height:20px; background:#2D6091; border:1px solid #2D6091; color:#fff; font-weight:bold;}

#id-signup-block { background:#2D6091; width:400px; margin:100px 0 0 290px;}

.signup-input { height:30px; width:200px; border:0;
				box-shadow: inset 1px 0px 10px #B3B3B3;
				-moz-box-shadow: inset 1px 0px 10px #B3B3B3;
				-webkit-box-shadow: inset 1px 0px 10px #B3B3B3;
				-khtml-box-shadow: inset 1px 0px 10px #B3B3B3;
				}


.clearer { height:30px;}
.clearer span { font-size:30px; text-align:center; width:100%; color:#fff; text-shadow: 0px 0px 5px #fff; font-weight:bold;}

#id-signup-btn, #login-submit { cursor:pointer;}

#id-logo { float:left; }

#id-signin-error { color:red; font-size:12px; text-align:center; font-weight:bold;}


